.menu{
    list-style: none;
    position: fixed;margin-bottom: 30px;
}
.links{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    
}
.container{
    text-align: center;
}
img{
width: 250px;
height: 200px;
}         